@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root{
    --background-color: #7f1d1d;
    --header-bg-color: #fee2e2;
    --card-bg-color: #fee2e2;
    --card-title-bg-color: #0c0a09;
    --form-bg-color: #fff7ed;
    font-family: 'Roboto', sans-serif;
}



body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);

}

header {
    background-color: var(--header-bg-color);
    font-size: 32px;
    font-weight: bold;
    padding: 20px;
}

header > h2 {
    margin: 0;
    color: black;
}

#bookshelf {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 60px;
    padding: 25px 200px;
}

.book {
    width: 250px;
    height: 300px;
    border-radius: 5px;
    margin: 2rem 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
    background: var(--card-bg-color);
}

.bookTitle {
    background-color: var(--card-title-bg-color);
    padding: 0.5rem 0;
    margin: -0.5rem 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fee2e2;
}

.bookRemoveButton {
    height: 25px;
    width: 25px;
    background-color: var(--card-bg-color);
    border-radius: 50%;
    position: relative;
    left: 215px;
    bottom: 148px;
    font-weight: bolder;
}

#newBookButton {
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-color: var(--card-bg-color);
    height: 60px;
    border-radius: 12px;
    cursor: pointer;
    
}

#bookFormContainer {
    background-color: var(--form-bg-color);
    height: 400px;
    width: 500px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#bookForm {
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
}

#addBookButton {
    border-radius: 12px;
    cursor: pointer;
    margin-top: 50px;
    height: 50px;
    width: 350px;
    place-self: center;

}
